/* Body Definitions */
body {
  background-color: grey;
}

/* Explicit Text-Header Definitions*/
h1 {
  color: black;
  font-family:monospace;
  font-size: 40px;
  border: 2px solid black;
}
h2 {
  color: #4F5254;
  font-family:monospace;
  font-size: 35px;
  border: 2px solid #4F5254;
}
h3 {
  color: #E0E0E0;
  font-family:monospace;
  font-size: 30px;
  border: 2px solid #E0E0E0;
}
h4 {
  color:  #648DE5;
  font-family:monospace;
  font-size: 27px;
  border: 2px solid #648DE5;
}
h5 {
  color: #3BB273;
  font-family:monospace;
  font-size: 24px;
  border: 2px solid #3BB273;
}
h6 {
  color:  #F34213;
  font-family:monospace;
  font-size: 22px;
  border: 2px solid #F34213;
}

/* Paragraph Text */
p {
  color: black;
  font-family:monospace;
}

/* Images */
img {
  width: 100%;
  height: auto;
}
