/* Body Definitions */
body {
  background-color: white;
  /*background-image: url("img_tree.png");*/
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0;
}

/* Class Attributes */
.centerImage{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: auto;
}

.container {
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.grey-container{
  background-color: lightgrey;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo{
  width: 4em;
  margin: 1em;
}

.menu{
  width: 75px;
}

.hide-mobile{
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
}

/* Explicit Text-Header Definitions*/
h1, h2, h3, h4, h5, h6, p {
  font-family: Courier, monospace;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
 
  border-style: dashed;
  border-width: thin;

  outline-style: dotted;
  text-align: center;
  
}

h1 {
  /*color: #E0E0E0;*/
  color: #A142F5;
  font-size: 6em;
}
h2 {
  color: #5C4742;
  font-size: 5.2em;
}
h3 {
  color: #E18335;
  font-size: 4.4em
}
h4 {
  color:  #648DE5;;
  font-size: 3.6em;
}
h5 {
  color: #3BB273;
  font-size: 2.8em;
}
h6 {
  color:  #F34213;;
  font-size: 2em;
}

/* Paragraph Text */
p, blockquote {
  color: black;
  font-size: .9em;
  line-height: 1.6em;
}

/* Images */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headshot{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
